@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

.list-group li {
  border: none;
}

.h-10 {
  height: 10vh;
}

.h-90 {
  height: 90vh;
}

.h-45 {
  height: 45vh;
}

.nav-bg-color {
  background: rgba(248, 248, 248, 0.082);
}

.transperent-bg {
  background: rgba(255, 0, 0, 0);
}

p {
  font-size: 0.7rem;
}

.carousel-indicators-porfolio [data-bs-target] {
  width: 10px; 
  height: 10px;
  border-radius: 100%;
}

.carousel-portfolio  {
  height: 13rem;
}

.carousel-control-prev {
  margin-left: -4rem;
  margin-top: -5rem;
}

.carousel-control-next {
  margin-right: -4rem;
  margin-top: -5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3rem;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3rem;
  color: black;
}
.mt--56 {
  margin-top: -5.4rem;
  border: 1px solid white;
  background: white;
}

.mt--58 {
  margin-top: -6.2rem;
  border: 1px solid white;
  background: white;
}